//main: ../style.less
.copyright {
  position: fixed;
  bottom: 0.5vh;
  left: 0;
  z-index: 2;
  padding-left: 2rem;
}
.copyright__text {
  font-family: @pt-sans;
  font-size: 1rem;
  color: @gray;
  font-weight: 700;
}
